/* SERVICES HEADER ----------------> */
.servicesHeaderBox {
    background-color: rgb(255, 255, 255);
    border: 1px red solid;
}
.servicesHeaderBox h1 {
    color:#000000;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 20px 40px;
    margin: 0 auto;
    max-width: 1300px;
    border: 1px red solid;
    text-align: center;
}

/* SERVICES BACKGROUND ----------------> */
.servicesMain {
    background-color: rgb(255, 255, 255);
    margin: 0 0 0 0;
    padding: 20px 0 50px 0px;
    display: flex;
    justify-content: space-evenly;
    border: 1px red solid;
}

/* SERVICES CONTENT ----------------> */
.servicesContent {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    gap: 50px;
    margin: 0 10px 0 10px;
}
.servicesContent section {
    border: 2px rgb(4, 123, 12) solid;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 20px;
}
.servicesContent section img {
    width: 100%;
    border: 1px red solid;
}
.servicesContent section h2 {
    border: 1px red solid;
    margin: 10px 0 10px 0;
}
.servicesContent p {
    border: 1px red solid;
    margin: 0 0 0 0;
}
.servicesContent section div {
    border: 1px rgb(215, 0, 235) solid;
    display: inline;
    margin: 0 0 0 0;
}
.servicesContent button {
    width: 150px;
    margin: 5px;
    border: none;
    color: white;
    background-color: #39bff9; 
    background-image: linear-gradient(75deg, #4abdff, #0f62ce, #167ed2, #4abdff); 
    background-size: 300% ;
    background-position: left;
    transition: 300ms background-position ease-in-out;
}
    .servicesContent button:hover {
        background-position: right;
    }



@media only screen and (min-width: 280px) and (max-width: 1103px) {

    .servicesContent {
        display: flex;
        justify-content: center;
        margin: 0 50px;
        flex-direction: column;
    }
}

@media only screen and (min-width: 280px) and (max-width: 528px) {
    .servicesPortrait img {
        width: 250px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}

@media only screen and (min-width: 280px) and (max-width: 467px) {
    .servicesHeader {
        text-align: center;
    }
}

@media only screen and (min-width: 280px) and (max-width: 467px) {
    .servicesPortrait img {
        width: 200px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}