.pageHeader {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 20px rgb(92, 92, 92);
  padding: 8px 0px;
  font-family: sans-serif;
  top: 0;
  position: sticky;
  z-index: 6;
}

.pageHeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1500px;
}

.logo {
  color: rgb(0, 0, 0);
  margin-left: 50px;
  margin-right: auto;
  font-weight: 600;
}

.logo home {
  cursor: pointer;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.primaryNav {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
}

.headerLinks {
  list-style-type: none;
  display: flex;
  padding: 0px;
}

.headerLinks img {
  width: 20px;
}

.headerLinks landscape, realestate, smallbusiness, virtual, theme {
  margin: 0 0 0 40px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.landscape {
  background-color: rgb(255, 255, 255);
  padding: 100px 0; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 50px 80px 50px;
  border: red solid 1px;
}

/* .landscapes {
  background-color: rgb(255, 255, 255);
  padding: 100px 0; 
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 30px 50px 80px 50px;
  border: red solid 1px;
} */

/* SLIDE TUTORIAL -------------------------------*/
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 600px;
  height: 1000px;
  border-radius: 10px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
/* ------------------------------- */

.imgsLandscape {
  width: 370px;
}