/* BANNER AND INTRO ----------------> */
.bannerAndIntro {
  background-color: rgb(242, 242, 242);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerAndIntro h1 {
  color:#000000;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1300px;
  margin: 0;
  padding: 20px 40px;
  margin: 0 auto;
}
.bannerAndIntro p {
  max-width: 1200px;
  text-align: center;
  margin: 0 10px 10px 10px;
}

/* SERVICES HEADER ----------------> */
.servicesHeaderBox {
  /* border: 1px red solid; */
  background-color: rgb(242, 242, 242);
  text-align: center;
}
.servicesHeaderBox h1 {
  /* border: 1px red solid; */
  background-color: rgb(0, 0, 0);
  color:#ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  padding: 20px 0px;
  margin: 0 auto;
}
.servicesHeaderBox div {
  /* border: 1px red solid; */
  background-color: rgb(242, 242, 242);
  text-align: center;
  padding: 0 25px 0 25px;

  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  align-items: center;
}
.servicesHeaderBox div hr {
  border: 0.5px rgb(0, 0, 0) solid;
  width: 31%;
  height: 0;
}
.servicesHeaderBox h2 {
  /* border: 1px red solid; */
  background-color: rgb(242, 242, 242);
  color:#000000;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1300px;
  margin: 0;
  padding: 20px 40px;
  margin: 0 auto;
}

.servicesHeaderBox hr {    
  border: 0.5px rgb(0, 0, 0) solid;
  width: 98%;
  max-width: 1300px;
  margin: 0;
  margin: 0 auto;
}

/* SERVICES BACKGROUND ----------------> */
.servicesMain {
  /* border: 1px red solid; */
  background-color: rgb(242, 242, 242);
  margin: 0 0 0 0;
  padding: 20px 0 50px 0px;

  display: flex;
  justify-content: space-evenly;
}

/* SERVICES CONTENT ----------------> */
.servicesContent {
  max-width: 1300px;
  margin: 0 10px 0 10px;
  
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.servicesContent section {
  /* border: 2px rgb(4, 123, 12) solid; */
  background-color: rgb(255, 255, 255);
  border: 2px black solid;
  width: 100%;
  padding-bottom: 0;
  text-align: center;
  line-height: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.servicesContent section img {
  /* border: 1px red solid; */
  width: 100%;
}
.servicesContent section h3 {
  /* border: 1px red solid; */
  margin: 10px 0 10px 0;
}
.servicesContent p {
  /* border: 1px red solid; */
  margin: 0 0 0 0;
}
.servicesContent section div {
  /* border: 1px rgb(215, 0, 235) solid; */
  display: inline;
  margin: 0 0 0 0;
}
.servicesContent button {
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #39bff9; 
  width: 150px;
  height: 35px;
  margin: 5px 5px 10px 5px;
  
  cursor: pointer;

  background-image: linear-gradient(75deg, #4abdff, #0f62ce, #167ed2, #4abdff); 
  background-size: 300% ;
  background-position: left;
  transition: 300ms background-position ease-in-out;
}
  .servicesContent button:hover {
      background-position: right;
  }



@media only screen and (min-width: 280px) and (max-width: 1103px) {

  .servicesContent {
      display: flex;
      justify-content: center;
      margin: 0 50px;
      flex-direction: column;
  }
}

@media only screen and (min-width: 280px) and (max-width: 528px) {
  .servicesPortrait img {
      width: 250px;
      display: flex;
      justify-content: center;
      margin: auto;
  }
}

@media only screen and (min-width: 280px) and (max-width: 467px) {
  .servicesHeader {
      text-align: center;
  }
}

@media only screen and (min-width: 280px) and (max-width: 467px) {
  .servicesPortrait img {
      width: 200px;
      display: flex;
      justify-content: center;
      margin: auto;
  }
}