/* RECENT WORK HEADER ----------------> */
.recentWorkHeaderBox {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(194, 0, 165) solid;
}
.recentWorkHeaderBox h1 {
    color:#000000;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 20px 40px;
    margin: 0 auto;
    max-width: 1300px;
    text-align: center;
    border: 1px rgb(194, 0, 165) solid;
}

/* RECENT WORK MAIN ----------------> */
.recentWorkMain {
    background-color: rgb(255, 255, 255);
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
    border: 1px rgb(10, 194, 0) solid;
    display: flex;
    flex-direction: column;
}

/* RECENT WORK CONTENT & MAIN ----------------> */
.recentWorkContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
}
.recentWorkContent div {
    display: inline-block;
    overflow: hidden;
    max-width: 1100px;
    max-height: 300px;
    margin: 0 20px 0 20px;
    
    /* overlay tutorial */
    position: relative;
}
.recentWorkContent .backgroundImg {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate(0, -200px);
}
.recentWorkContent .imageOverlay {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    justify-content: space-between;
}
.recentWorkContent h2 {
    text-align: center;
    font-family: cursive;
    font-size: 13px;
    margin-top: 90px;
    border: 1px red solid;
}
.recentWorkContent .imageOverlay div {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color: #000000;
    width: 100%;
    margin: 0 0 0 0;
    /* border: 1px red solid; */
}
.recentWorkContent .imageOverlay div div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: #000000;
    width: 100%;
    border: 1px red solid;

    margin: 0 0 0 0;
}

.recentWorkContent h3 {
    /* border: 1px red solid; */
    margin: 0 0 0 10px;
}
.recentWorkContent .logo {
    /* border: 1px red solid; */
    align-self: flex-end;
    text-align: right;
    width: 120px;
}
.recentWorkContent p {
    /* border: 1px red solid; */
    font-size: 13px;
    margin: 10px 0 10px 10px;
}

.recentWorkContent .imageOverlay:hover {
    opacity: 1;
}
    
.recentWorkMain button {
    width: 150px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;

    background-color: #39bff9; 
    background-image: linear-gradient(75deg, #90ff81, #03d711, #03d711, #90ff81); 
    background-size: 300% ;
    background-position: left;
    transition: 300ms background-position ease-in-out;
}
.recentWorkMain button:hover {
    background-position: right;

}


@media only screen and (min-width: 280px) and (max-width: 467px) {

    .recentWorkHeader {
        text-align: center;
    }
}